# dvc==2.37.0
# dvclive @ git+https://github.com/iterative/dvclive.git@38b3b1af6e9b905a112cdcb05add3df1ed61443a
dvclive==1.3.0
dvc @ git+https://github.com/iterative/dvc@4400fb4#egg=dvc[s3,gs,azure,ssh,gdrive]
